

body {
  font-family: Arial, sans-serif;
  background-color: #fbfbfb;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between; /* Placerer venstre - midt - højre */
  align-items: center;
}

/* Logo i midten */
.logo {
  flex: 1;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  height: 80px;
}

/* Burgermenu og shop ikon */
.shop-icon {
  display: flex;              
  gap: 10px;                  /* Afstand mellem dem */
  align-items: center;        /*vertikalt DISPLAYFLEX*/
  cursor: pointer;
}

.menu-icon {
  display: flex;
  align-items: center;
  gap: 8px; /* lidt luft mellem ikon og tekst */
}

.icon {
    height: 30px;
    
}

.front-image {
    display: flex;
    justify-content: center;  /*vertikalt HUSK DISPLAYFLEX */
    position: relative;
    
}

.front-text {
  position: absolute;
  top: 50%;
  left: 6%;
  color: #000;
  text-align: left;     /* venstrestil tekst */
  width: 430px;
}

.front-text h1 {
  font-size: 3rem;
  margin: 0;            /* fjern default margin */
}

.front-text p {
  font-size: 1.2rem;
  margin-top: 10px;     /* lidt luft under overskriften */
}

.forskellige-farver {
  display: flex;
  justify-content: space-between; /* Placerer venstre - midt - højre i midsten atigt */
  align-items: center;
  padding-left: 230px;    /*luft i siderne */
  padding-right: 230px;
}

.lumina-colors {
  display: flex;
  height: 180px;
  border-radius: 100px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* smooth effekt */
  cursor: pointer; /* viser at billedet kan interageres med */
}

.lumina-colors:hover {
  transform: scale(1.05); /* gør billedet lidt større */
  box-shadow: 0 8px 20px rgba(0,0,0,0.15); 
}

.lumina-color-product {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  font-size: 2.4rem;        
  font-weight: 400;         
  color: #111;              
  margin-bottom: 0.5rem;    
  letter-spacing: -0.5px;   
}

/* tekst med totebag */
p {
  font-size: 1rem;          
  line-height: 1.6;         
  color: #555;              
  margin-bottom: 1.2rem;    
  max-width: 60ch;          
}
/*footeren*/
.information {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*cta knappen*/
.cta-button {
  display: inline-block;
  padding: 14px 32px;
  background-color: transparent; /* gennemsigtig */
  color: #111;                   /* sort tekst */
  font-size: 1.1rem;
  font-weight: 500;
  border: 2px solid #111;        /* sort kant */
  border-radius: 50px;           /* rundet form */
  text-decoration: none;         /* fjern underline */
  transition: all 0.3s ease;
  cursor: pointer;

   /* flytter knappen horisontalt */
  margin-left: 70px;  /* rykker lidt til højre */
}



.cta-button:hover {
  background-color: #111; /* sort baggrund */
  color: #fff;            /* hvid tekst */
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
